{% extends 'base.html.twig' %}

{% block title %}Liste des Structures{% endblock %}

{% block body %}

    <h1 class="py-5">Liste des <span class="heading-color">Structures</span></h1>
    
    <button id="all" class="btn btn-primary"> TOUTES</button>
    <button id="actif" class="btn btn-success"> ACTIVES</button>
    <button id="inactif" class="btn btn-danger"> INACTIVES</button>
    
    <div class="table-responsive-xl mb-5 mt-3 ">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom de la structure</th>
                    <th>Est active</th>
                    <th>Appartient au partenaire</th>
                    <th>Adresse Email</th>
                    <th>Ville</th>
                    <th>Modules activés </th>
                    <th>Nom Gérant</th>
                    <th>Voir</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
            {% for structure in structures %}
                <tr class="{{structure.isActive ? 'actif' : 'inactif'}}">
                    <td>{{ structure.name }}</td>
                    <td>{{ structure.isActive ? '<div class="on">Activée</div>' : '<div class="off">Désactivée</div>' }}</td>
                    <td>{{ structure.partners ? structure.partners.name : '' }}</td>
                    <td>{{ structure.users.email }}</td>
                    <td>{{ structure.users.city }}</td>
                    <td>
                        {% if structure.Modules %}
                        {% for module in structure.Modules %}
                        {{module}} <br>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ structure.users.lastname }}</td>

                    <td class="text-center">
                        <a href="{{ path('app_structures_show', {'id': structure.id}) }}"<i class="fa-solid fa-eye blue"></i> </a>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_structures_edit', {'id': structure.id}) }}"><i class="fa-solid fa-pen purple"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_structures_delete', {'id': structure.id}) }}"><i class="fa-solid fa-trash-can red"></i></a>
                    </td>
                </tr>
            
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <a href="{{ path('app_structures_new') }}"><i class="fa-solid fa-plus green"></i> Créer une nouvelle structure</a>

{% endblock %}