{% extends 'base.html.twig' %}

{% block title %}Fiche Structure{% endblock %}

{% block body %}
    <h1 class="py-5">Fiche Structure de <span class="heading-color"> {{structure.name}} </span></h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Est activée</th>
                <td>{{ structure.isActive ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Nom du gérant</th>
                <td>{{ structure.users.lastname }}</td>
            </tr>
             <tr>
                <th>Prénom du gérant</th>
                <td>{{ structure.users.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ structure.users.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ structure.users.address }}</td>
            </tr>
              <tr>
                <th>Code Postal</th>
                <td>{{ structure.users.zipcode }}</td>
            </tr>
              <tr>
                <th>Ville</th>
                <td>{{ structure.users.city }}</td>
            </tr>
           
             <tr>
             
                <th>Modules activés</th>
                <td>
                    {% if structure.Modules %}
                    {% for module in structure.Modules %}
                    {{module}}<br>
                    
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            
        </tbody>
    </table>

{% if is_granted("ROLE_ADMIN") %}
<div>
    <button class="btn modify-button mt-4"><a href="{{ path('app_structures_edit', {'id': structure.id}) }}">Modifier</a></button>
</div>
<div class="pt-4">
    <i class="fa-solid fa-circle-arrow-left pl-3"></i>
    <a href="{{ path('app_structures_index') }}">Revenir à la liste</a>
</div>
    {{ include('structures/_delete_form.html.twig') }}
{% endif %}




{% endblock %}
