<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Site de présentation et de réservation des Hôtels Hypnos">
		<meta name="keywords" content="Green Fit, salles de sport, fitness, france">
		<meta name="Robots" content="follow">
        
{# Favicon #}
        <link rel="icon" type="image/x-icon" href="{{ asset('/images/favicon/favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/images/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/images/favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('/images/favicon/safari-pinned-tab.svg" color="#5bbad5') }}">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        
        <title>
            {% block title %}Welcome! {% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
            <link rel="stylesheet"  href="{{ asset('css/styles.css')}}" >
        {% endblock %}

        {% block javascripts %}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% endblock %}

    </head>

    <body>
   
        <div class="wrapper pt-5" id="homepage">
    
            {{ include('header.html.twig') }}
            {% if is_granted('ROLE_ADMIN') %}
            <div>
                {{ include('sidebar.html.twig') }}
            </div>
            {% endif %}
            <div class="container pt-5">
                <div class="main-container">
                    {% block body %}{% endblock %}
                   {{ include('footer.html.twig') }} 
                </div>
            </div>
        </div>
       
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    </body>

</html>